<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}" style="top: 44px">
        <div class="content has-header">

            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="search.text"
                           ng-change="searchFriend()">
                </label>
            </div>

            <div class="list">
                <p ng-if="friendsInfo.length == 0" class="item">No people</p>
                <a ng-click="userInfo($index)" class="item item-avatar item-icon-right" collection-repeat="friend in friendsInfo">
                    <img src="img/user.jpg">
                    <h2>{{friend.firstName}} {{friend.lastName}}</h2>
                    <p>Last seen 5 min ago</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
