

.shape-1 {
    text-shadow: rgb(30, 26, 35) 1px 1px,
    rgb(31, 27, 36) 2px 2px,
    rgb(32, 27, 37) 3px 3px,
    rgb(32, 28, 38) 4px 4px,
    rgb(33, 29, 38) 5px 5px,
    rgb(34, 29, 39) 6px 6px,
    rgb(34, 30, 40) 7px 7px,
    rgb(35, 30, 41) 8px 8px,
    rgb(36, 31, 42) 9px 9px,
    rgb(36, 32, 42) 10px 10px,
    rgb(37, 32, 43) 11px 11px,
    rgb(38, 33, 44) 12px 12px,
    rgb(38, 33, 45) 13px 13px,
    rgb(39, 34, 46) 14px 14px,
    rgb(40, 35, 46) 15px 15px,
    rgb(40, 35, 47) 16px 16px,
    rgb(41, 36, 48) 17px 17px,
    rgb(42, 36, 49) 18px 18px,
    rgb(42, 37, 49) 19px 19px,
    rgb(43, 38, 50) 20px 20px,
    rgb(44, 38, 51) 21px 21px,
    rgb(44, 39, 52) 22px 22px,
    rgb(45, 39, 53) 23px 23px,
    rgb(46, 40, 53) 24px 24px,
    rgb(46, 41, 54) 25px 25px,
    rgb(47, 41, 55) 26px 26px,
    rgb(48, 42, 56) 27px 27px,
    rgb(48, 42, 57) 28px 28px,
    rgb(49, 43, 57) 29px 29px,
    rgb(50, 44, 58) 30px 30px,
    rgb(50, 44, 59) 31px 31px,
    rgb(51, 45, 60) 32px 32px,
    rgb(52, 46, 61) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-2 {
    text-shadow: rgb(30, 42, 53) 1px 1px,
    rgb(31, 43, 54) 2px 2px,
    rgb(32, 44, 55) 3px 3px,
    rgb(32, 45, 56) 4px 4px,
    rgb(33, 46, 58) 5px 5px,
    rgb(34, 47, 59) 6px 6px,
    rgb(34, 48, 60) 7px 7px,
    rgb(35, 49, 61) 8px 8px,
    rgb(36, 50, 62) 9px 9px,
    rgb(36, 51, 64) 10px 10px,
    rgb(37, 52, 65) 11px 11px,
    rgb(38, 53, 66) 12px 12px,
    rgb(38, 54, 67) 13px 13px,
    rgb(39, 55, 68) 14px 14px,
    rgb(40, 56, 70) 15px 15px,
    rgb(40, 57, 71) 16px 16px,
    rgb(41, 57, 72) 17px 17px,
    rgb(42, 58, 73) 18px 18px,
    rgb(42, 59, 75) 19px 19px,
    rgb(43, 60, 76) 20px 20px,
    rgb(44, 61, 77) 21px 21px,
    rgb(44, 62, 78) 22px 22px,
    rgb(45, 63, 79) 23px 23px,
    rgb(46, 64, 81) 24px 24px,
    rgb(46, 65, 82) 25px 25px,
    rgb(47, 66, 83) 26px 26px,
    rgb(48, 67, 84) 27px 27px,
    rgb(48, 68, 85) 28px 28px,
    rgb(49, 69, 87) 29px 29px,
    rgb(50, 70, 88) 30px 30px,
    rgb(50, 71, 89) 31px 31px,
    rgb(51, 72, 90) 32px 32px,
    rgb(52, 73, 92) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-3 {
    text-shadow: rgb(53, 59, 69) 1px 1px,
    rgb(54, 60, 71) 2px 2px,
    rgb(55, 62, 72) 3px 3px,
    rgb(56, 63, 74) 4px 4px,
    rgb(58, 64, 75) 5px 5px,
    rgb(59, 66, 77) 6px 6px,
    rgb(60, 67, 79) 7px 7px,
    rgb(61, 68, 80) 8px 8px,
    rgb(62, 70, 82) 9px 9px,
    rgb(64, 71, 83) 10px 10px,
    rgb(65, 72, 85) 11px 11px,
    rgb(66, 74, 86) 12px 12px,
    rgb(67, 75, 88) 13px 13px,
    rgb(68, 76, 90) 14px 14px,
    rgb(70, 78, 91) 15px 15px,
    rgb(71, 79, 93) 16px 16px,
    rgb(72, 80, 94) 17px 17px,
    rgb(73, 82, 96) 18px 18px,
    rgb(75, 83, 97) 19px 19px,
    rgb(76, 84, 99) 20px 20px,
    rgb(77, 86, 101) 21px 21px,
    rgb(78, 87, 102) 22px 22px,
    rgb(79, 88, 104) 23px 23px,
    rgb(81, 90, 105) 24px 24px,
    rgb(82, 91, 107) 25px 25px,
    rgb(83, 92, 108) 26px 26px,
    rgb(84, 94, 110) 27px 27px,
    rgb(85, 95, 112) 28px 28px,
    rgb(87, 96, 113) 29px 29px,
    rgb(88, 98, 115) 30px 30px,
    rgb(89, 99, 116) 31px 31px,
    rgb(90, 100, 118) 32px 32px,
    rgb(92, 102, 120) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-4 {
    text-shadow: rgb(145, 131, 122) 1px 1px,
    rgb(148, 134, 125) 2px 2px,
    rgb(151, 137, 128) 3px 3px,
    rgb(154, 140, 130) 4px 4px,
    rgb(158, 143, 133) 5px 5px,
    rgb(161, 146, 136) 6px 6px,
    rgb(164, 149, 139) 7px 7px,
    rgb(167, 152, 141) 8px 8px,
    rgb(171, 155, 144) 9px 9px,
    rgb(174, 158, 147) 10px 10px,
    rgb(177, 161, 150) 11px 11px,
    rgb(180, 164, 152) 12px 12px,
    rgb(184, 167, 155) 13px 13px,
    rgb(187, 170, 158) 14px 14px,
    rgb(190, 173, 160) 15px 15px,
    rgb(193, 176, 163) 16px 16px,
    rgb(197, 179, 166) 17px 17px,
    rgb(200, 182, 169) 18px 18px,
    rgb(203, 185, 171) 19px 19px,
    rgb(206, 188, 174) 20px 20px,
    rgb(210, 191, 177) 21px 21px,
    rgb(213, 194, 180) 22px 22px,
    rgb(216, 197, 182) 23px 23px,
    rgb(219, 200, 185) 24px 24px,
    rgb(223, 203, 188) 25px 25px,
    rgb(226, 206, 190) 26px 26px,
    rgb(229, 209, 193) 27px 27px,
    rgb(232, 212, 196) 28px 28px,
    rgb(236, 215, 199) 29px 29px,
    rgb(239, 218, 201) 30px 30px,
    rgb(242, 221, 204) 31px 31px,
    rgb(245, 224, 207) 32px 32px,
    rgb(249, 227, 210) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-5 {
    text-shadow: rgb(35, 35, 35) 1px 1px,
    rgb(36, 36, 36) 2px 2px,
    rgb(37, 37, 37) 3px 3px,
    rgb(38, 38, 38) 4px 4px,
    rgb(38, 38, 38) 5px 5px,
    rgb(39, 39, 39) 6px 6px,
    rgb(40, 40, 40) 7px 7px,
    rgb(41, 41, 41) 8px 8px,
    rgb(42, 42, 42) 9px 9px,
    rgb(42, 42, 42) 10px 10px,
    rgb(43, 43, 43) 11px 11px,
    rgb(44, 44, 44) 12px 12px,
    rgb(45, 45, 45) 13px 13px,
    rgb(46, 46, 46) 14px 14px,
    rgb(46, 46, 46) 15px 15px,
    rgb(47, 47, 47) 16px 16px,
    rgb(48, 48, 48) 17px 17px,
    rgb(49, 49, 49) 18px 18px,
    rgb(49, 49, 49) 19px 19px,
    rgb(50, 50, 50) 20px 20px,
    rgb(51, 51, 51) 21px 21px,
    rgb(52, 52, 52) 22px 22px,
    rgb(53, 53, 53) 23px 23px,
    rgb(53, 53, 53) 24px 24px,
    rgb(54, 54, 54) 25px 25px,
    rgb(55, 55, 55) 26px 26px,
    rgb(56, 56, 56) 27px 27px,
    rgb(57, 57, 57) 28px 28px,
    rgb(57, 57, 57) 29px 29px,
    rgb(58, 58, 58) 30px 30px,
    rgb(59, 59, 59) 31px 31px,
    rgb(60, 60, 60) 32px 32px,
    rgb(61, 61, 61) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-6 {
    text-shadow: rgb(136, 73, 63) 1px 1px,
    rgb(139, 75, 64) 2px 2px,
    rgb(142, 76, 66) 3px 3px,
    rgb(145, 78, 67) 4px 4px,
    rgb(148, 80, 68) 5px 5px,
    rgb(151, 81, 70) 6px 6px,
    rgb(154, 83, 71) 7px 7px,
    rgb(157, 85, 73) 8px 8px,
    rgb(160, 86, 74) 9px 9px,
    rgb(163, 88, 75) 10px 10px,
    rgb(166, 90, 77) 11px 11px,
    rgb(169, 91, 78) 12px 12px,
    rgb(172, 93, 80) 13px 13px,
    rgb(175, 94, 81) 14px 14px,
    rgb(178, 96, 82) 15px 15px,
    rgb(181, 98, 84) 16px 16px,
    rgb(185, 99, 85) 17px 17px,
    rgb(188, 101, 87) 18px 18px,
    rgb(191, 103, 88) 19px 19px,
    rgb(194, 104, 89) 20px 20px,
    rgb(197, 106, 91) 21px 21px,
    rgb(200, 108, 92) 22px 22px,
    rgb(203, 109, 94) 23px 23px,
    rgb(206, 111, 95) 24px 24px,
    rgb(209, 112, 96) 25px 25px,
    rgb(212, 114, 98) 26px 26px,
    rgb(215, 116, 99) 27px 27px,
    rgb(218, 117, 101) 28px 28px,
    rgb(221, 119, 102) 29px 29px,
    rgb(224, 121, 103) 30px 30px,
    rgb(227, 122, 105) 31px 31px,
    rgb(230, 124, 106) 32px 32px,
    rgb(234, 126, 108) 33px 33px;
    height: 100%;
    width: 100%;
    font-size: 42px;
    text-align: center;
}

.shape-register {
    text-shadow: rgb(150, 150, 150) 1px 1px,
    rgb(150, 150, 150) 2px 2px,
    rgb(150, 150, 150) 3px 3px,
    rgb(150, 150, 150) 4px 4px,
    rgb(150, 150, 150) 5px 5px,
    rgb(150, 150, 150) 6px 6px,
    rgb(150, 150, 150) 7px 7px,
    rgb(150, 150, 150) 8px 8px,
    rgb(150, 150, 150) 9px 9px,
    rgb(150, 150, 150) 10px 10px,
    rgb(150, 150, 150) 11px 11px,
    rgb(150, 150, 150) 12px 12px,
    rgb(155, 155, 155) 13px 13px,
    rgb(161, 161, 161) 14px 14px,
    rgb(167, 167, 167) 15px 15px,
    rgb(173, 173, 173) 16px 16px,
    rgb(179, 179, 179) 17px 17px,
    rgb(185, 185, 185) 18px 18px,
    rgb(190, 190, 190) 19px 19px,
    rgb(196, 196, 196) 20px 20px,
    rgb(202, 202, 202) 21px 21px,
    rgb(208, 208, 208) 22px 22px,
    rgb(214, 214, 214) 23px 23px,
    rgb(220, 220, 220) 24px 24px,
    rgb(225, 225, 225) 25px 25px,
    rgb(231, 231, 231) 26px 26px,
    rgb(237, 237, 237) 27px 27px,
    rgb(243, 243, 243) 28px 28px,
    rgb(249, 249, 249) 29px 29px,
    rgb(255, 255, 255) 30px 30px;
    height: 100%;
    width: 100%;
    font-size: 65px;
    text-align: center;
}

.row {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
}

.row span {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 30px 10px;
}

.gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  transition: all .3s ease-in-out;
}

.gate textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
  height: 42px;
  padding: 15px;
}

.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.gate + label {
  height: 42px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7AB893;
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #377D6A;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.gate + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .gate {
  text-indent: 85px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}

.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}

.reg{
    font-size: 18px;
}

.daleyBtns{
    animation-delay: 1s;
-webkit-animation-delay: 1s;
}

/* General
==================================*/

h1 {
    color: #fff;
    text-shadow: 0px 2px 3px #666;
    font-size: 42px;
    font-weight: bolder;
}

.loginPic{
    height: 70%;
}

.center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.backBtn {
    position: relative;
}

/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/user.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/* Input style
================================*/

.item-md-label input{
    background-color: rgba(48, 105, 208, 0.6);
}

.item-md-label input.used~.input-label, .item-md-label input:focus~.input-label{
    opacity: 1;
}